$color__background-body: #fff;
$color__background-screen: #fff;
$color__background-hr: #E0E0E0;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #017DB2;
//$color__link-visited: #9B1717;
$color__link-visited: #21759b;
$color__link-hover: #000;
$color__link-active: #000;
$color__text-main: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
