$color__background-body: #fff;
$color__background-screen: #fff;
$color__background-hr: #e0e0e0;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #017abc;
$color__text-input: #0f0f0f;
$color__text-input-focus: #111;
$color__link: #017abc;
$color__link-visited: #017abc;
$color__link-hover: #000;
$color__link-active: #000;
$color__text-main: #000;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

// Alert elementor widget
$color__alert-success-bg: #d4edda;
$color__alert-success-text: #155724;
$color__alert-success-border: #c3e6cb;
$color__alert-info-bg: #d1ecf1;
$color__alert-info-text: #0c5460;
$color__alert-info-border: #bee5eb;
$color__alert-warning-bg: #fff3cd;
$color__alert-warning-text: #856404;
$color__alert-warning-border: #ffeeba;
$color__alert-error-bg: #f8d7da;
$color__alert-error-text: #721c24;
$color__alert-error-border: #f5c6cb;

// Clear Filter link color
$color__alert-error: #b31b1b;
