{# Get the title and optionally truncating it #}
{% set item_title = item.title %}
{% if options.title_max_length > 0 %}
    {% set item_title = item_title|truncate(options.title_max_length) %}
{% endif %}

{% if options.show_title %}
    {% set item_url = wpra_item_url(item, options) %}
    <div class="wpra-grid-item__item wpra-grid-item__title">
        {{ item_title | wpralink(item_url, not options.item_is_link, options) }}
        {{ options.title_after }}
    </div>
{% endif %}
