a, button {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
		text-decoration: underline;
	}
	&:focus {
		//outline: thin dotted;
		outline: 1px dashed black;
	}
	&:hover,
	&:active {
		outline: 0;
	}
	&:hover {
		text-decoration: underline;
	}
}

a:-webkit-any-link {
    text-decoration: none;
}

li.current-menu-item {

	a {
		color: $color__link-active !important;
	}

}

.entry-footer,
.edit-link {
	border-top: none;
	width: 100%;

		a {
			padding: 10px;
			color: #fff;
			background-color: green;


		}

		&:hover {
		opacity: .8;
		}
}
