.main-navigation {
  z-index: 99999;
  margin: 10px auto;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;

  ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
    background-color: #fff;

    li {
      padding: 7px 10px;
      border-bottom: 1px solid #d8d8d8;
    }

    a {
      display: block;
      text-decoration: none;
    }

    ul {
      position: relative;
      z-index: 99999;
      padding-left: 10px;

      ul {
        left: 0;
        top: 0;
      }

      li {
        border-top: none;
        border-bottom: none;
        padding: 0 !important;
        margin: 0 !important;

        ul {
          position: relative;
          left: 0;
          box-shadow: none !important;
          border: none;

          // 3rd level domain
          li {
            border: none !important;
            padding: 0 !important;
            margin: 0 !important;
            padding-left: 0 !important;

            a:before {
              content: "- ";
            }
          }
        }

        &:hover > ul,
        &.focus > ul {
          left: auto;
        }
      }

      a {
        width: 100%;
      }
    }

    li:hover > ul,
    li.focus > ul {
      left: auto;
    }
  }
}

/* Small menu. */
.menu-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  position: absolute;
  top: -58px;
  left: calc(100vw - 100px);
  font-size: 18px;
  padding: 0;
}

.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 640px) {
  .menu-toggle {
    display: none;
  }

  #site-navigation {
    z-index: 999;
  }

  .main-navigation {
    position: relative;
    margin: 10px auto;
    width: 90%;
    display: block;
    margin-bottom: 5px;
    padding: 0;
    position: relative !important;
    top: auto;
    left: auto;

    // first level

    ul {
      display: block;
      list-style: none;
      margin: 0;
      padding-left: 0;
      height: 60px;
      //border-bottom: 1px solid #e2eaef;

      li {
        border-bottom: none;
        border-right: 1px solid #c1bebe;
        font-size: 18px;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 0;

        &:first-child {
          padding-left: 10px;
        }

        &:last-child {
          border-right: none;
        }

        &.menu-item-has-children {
          a:after {
            display: inline-block;
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            content: "\f078";
            padding-right: 10px;
            margin-left: 5px;
            border-right: none;
          }
        }
      }

      ul {
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2) !important;
        float: left;
        position: absolute;
        top: 100%;
        height: auto;
        left: -999em;
        z-index: 99999;
        padding-left: 0;
        width: 275px;

        // 2nd level
        li {
          padding: 0 !important;
          border: none;
          border-bottom: 1px solid #c1bebe;
          margin: 0 !important;
          padding-top: 10px !important;
          padding-bottom: 10px !important;
          font-size: 18px;

          &:last-child {
            border: none;
          }

          ul {
            position: relative;
            left: 0;
            box-shadow: none !important;
            border: none;

            // 3rd level domain
            li {
              border: none !important;
              padding: 0 !important;
              margin: 0 !important;
              padding-left: 20px !important;

              a:before {
                content: "- " !important;
              }
            }
          }

          &:hover > ul,
          &.focus > ul {
            left: 0;
          }

          a:after {
            content: "" !important;
            position: absolute;
            top: -9999px;
            left: -9999px;
          }
        }

        // 2nd level domain
        a {
          width: auto;
          border: none;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      li:hover > ul,
      li.focus > ul {
        left: auto;
      }
    }

    li {
      float: left;
      position: relative;
      padding-left: 20px;
    }

    a {
      display: block;
      text-decoration: none;
    }
  }
}

.comment-navigation,
.posts-navigation,
.post-navigation {
  .site-main & {
    margin: 0 0 1.5em;
    overflow: hidden;
  }

  .nav-previous {
    float: left;
    width: 50%;
  }

  .nav-next {
    float: right;
    text-align: right;
    width: 50%;
  }
}

@media only screen and (min-width: 1200px) {
  .main-navigation {
    width: 90%;
  }
}

@media only screen and (min-width: 1440px) {
  .main-navigation {
    width: 1360px;
  }
}

@media only screen and (min-width: 1600px) {
  .main-navigation {
    width: 1529px;
  }
}
