
.four04 {
  display: grid;
  width: 90%;
  grid-template-columns: 100%;
  margin: 0 auto;
  margin-top: 50px;

  @media only screen and (min-width: 768px) {
    grid-template-columns: 50% 50%;
  }

  .four04_photo {
    grid-column: 1;
    border: 1px solid gray;
    width: 300px;
    height: 300px;

    @media only screen and (min-width: 768px) {
      grid-column: 1/2;
      justify-self: center;
      padding-right: 80px;
    }

    img {

    }
  }

  .four04_message{
      grid-column: 1;
      width: 100%;
      padding-left: 10px;

      @media only screen and (min-width: 600px) {
        padding-top: 50px;
        width: 70%;
      }

      @media only screen and (min-width: 768px) {
        grid-column: 2/3;
        padding-top: 30px;
        width: 90%;
      }

      @media only screen and (min-width: 1024px) {
        padding-top: 50px;
        width: 70%;
      }

    h1 {
      font-size: 36px;
      color: #134E94;
      letter-spacing: -0.1px;
      padding-bottom: 10px;
      margin-bottom: 0;
      line-height: 1.2em;

      @media only screen and (min-width: 600px) {
        font-size: 40px;
        line-height: 34px;
      }

      @media only screen and (min-width: 768px) {
        font-size: 72px;
        line-height: 74px;
      }
    }

    p{
      font-size: 22px;
      color: #534D57;
      letter-spacing: 0;
    }

    ul {
      font-size: 22px;
      color: #534D57;
      letter-spacing: 0;
      margin-left: 40px;

      li {

      }
    }
  }
}
