/*---

  Header section including:
  # Branding
  # User tools: My account and Search

---*/

header.branding {
  display: grid;
  margin: 10px auto;
  width: calc(100vw - 40px);
  grid-template-columns: 67% 33%;

  @media only screen and (min-width: 640px) {
    width: 90%;
  }

  @media only screen and (min-width: 1440px) {
    width: 1360px;
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 1600px) {
    width: 1529px;
  }

  a.logo-cul {
    grid-column: 1/2;
    padding-top: 20px;
    display: inline-block;

    &:hover {
      text-decoration: underline;
    }
  }

  nav.user-tools {
    text-align: right;
    margin-top: 0;
    grid-column: 2/3;
    padding-top: 15px;

    ul {
      width: auto;
      margin: 0;
      padding: 0;
      padding-top: 3px;
    }

    li {
      padding-right: 0;
      display: inline-block;

      @media only screen and (min-width: 768px) {
        &:nth-last-child(1) a {
          padding-right: 0;
        }
      }

      a {
        font-size: 18px;
        padding-right: 7px;
      }
    }
  }
}

/*---
  Hero content section for homepage
    # Nav main library
    # College url
    # Unit library header
    # Time open/close
    # Contact and Google map link
    # Background header
---*/

.hero__content {
  display: grid;
  grid-template-columns: 100%;
  margin: 10px auto;
  width: calc(100vw - 40px);

  @media only screen and (min-width: 640px) {
    width: 90%;
  }

  @media only screen and (min-width: 768px) {
    grid-template-columns: 80% 20%;
  }

  @media only screen and (min-width: 1020px) {
    grid-template-columns: 65% 35%;
  }

  @media only screen and (min-width: 1440px) {
    width: 1360px;
    padding-bottom: 10px;
  }

  @media only screen and (min-width: 1600px) {
    width: 1529px;
  }

  /*---
    # Nav main library
  ---*/

  .all-libraries {
    //background-color: #6C9BB9;
    background-color: #ad1a1a;

    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding: 10px 0 0 0;
    color: #fff;
    padding-left: 15px;

    @media only screen and (min-width: 480px) {
      height: 50px;
      padding: 13px 0 0 0;
      padding-left: 20px;
    }

    @media only screen and (min-width: 768px) {
      padding: 16px 0 0 20px;
      height: 62px;
      font-size: 20px;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 20px;
    }

    span {
      font-size: 14px;
      font-weight: normal;
      padding-left: 0;
      padding-right: 5px;

      @media only screen and (min-width: 768px) {
        font-size: 18px;
      }

      @media only screen and (min-width: 1440px) {
        font-size: 18px;
      }

      a {
        padding-left: 5px;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          outline: 1px dashed #fff;
        }
      }
    }

    a {
      display: inline-block;
      color: #fff;
      padding-right: 10px;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: 1px dashed #fff;
      }
    }
  }

  /*---
    # College url
  ---*/

  .college {
    display: none;
    text-align: right;
    font-family: $font__secondary;

    a:hover {
      text-decoration: underline;
    }

    @media only screen and (min-width: 768px) {
      display: block;
    }

    @media only screen and (min-width: 1440px) {
      font-size: 20px;
      margin-top: -10px;
    }
  }

  /*---
    # Unit library header
  ---*/

  .home-header {
    height: auto;
    background-color: rgba(10, 57, 74, 0.97); //#0A394A
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    //height: auto;

    @media only screen and (min-width: 480px) {
      padding-left: 20px;
      padding-right: 20px;
      padding-bottom: 20px;
      margin-top: 40px;
      height: auto;
    }

    @media only screen and (min-width: 768px) {
      margin-top: 40px;
    }

    @media only screen and (min-width: 1440px) {
      margin-top: 80px;
    }

    h1 {
      font-size: 24px;
      margin: 0;
      padding-bottom: 8px;

      @media only screen and (min-width: 480px) {
        font-size: 32px;
      }

      @media only screen and (min-width: 1200px) {
        font-size: 38px;
      }

      @media only screen and (min-width: 1440px) {
        font-size: 45px;
      }

      a {
        color: #fff;

        &:hover {
          text-decoration: underline;
        }

        &:focus {
          outline: 1px dashed #fff;
        }
      }
    }

    /*---
      # Time open/close
    ---*/

    .available-time {
      display: inline-block;
      font-size: 15px;
      color: #fff;

      @media only screen and (min-width: 480px) {
        font-size: 18px;
      }

      @media only screen and (min-width: 640px) {
        font-size: 18px;
      }

      @media only screen and (min-width: 1440px) {
        font-size: 30px;
      }

      a.full-hours {
        margin-left: 5px;
        color: #fff;
        padding: 3px 10px;
        margin-left: 0;
        padding-left: 0;
        font-weight: bold;

        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }

        &:focus {
          outline: 1px dashed #fff;
        }
      }

      .icon-time {
        color: #f8e71c;
        font-size: 26px;
        vertical-align: middle;
        padding-right: 4px;

        @media only screen and (min-width: 1440px) {
          font-size: 30px;
          //margin-top: -5px;
        }
      }
    }
    /*---
      # Contact and Google map link
    ---*/

    .header-contact {
      margin-left: 0;
      display: inline-block;
      color: #fff;
      padding-left: 5px;
      margin-bottom: 0;

      @media only screen and (min-width: 1440px) {
        font-size: 30px;
        padding-left: 18px;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        font-size: 20px;
        padding-right: 10px;
        margin-bottom: 0;

        @media only screen and (min-width: 1440px) {
          font-size: 30px;
        }

        a {
          color: #fff;

          &:hover {
            text-decoration: underline;
          }

          &:focus {
            outline: 1px dashed #fff;
          }

          i {
            display: inline-block;
            border-bottom: none;
          }

          i:hover {
            display: inline-block;
            border-bottom: 1px solid #fff;
          }
        }
      }
    }
  }
}

/*---
  # Background header
---*/

.bg-header {
  position: absolute;
  background-color: #425f72;
  //top: 130px;
  top: 200px; //Remove after alert banner is disable
  z-index: -9999;
  //margin: 0 auto;
  //width: calc(100vw - 40px);
  height: 260px;
  width: 100%;
  margin-top: -20px;

  @media only screen and (min-width: 480px) {
    top: 190px; //Remove after alert banner is disable
    height: 330px;
  }

  @media only screen and (min-width: 768px) {
    top: 200px; //Remove after alert banner is disable
    height: 325px;
  }

  @media only screen and (min-width: 1440px) {
    top: 140px;
    top: 205px; //Remove after alert banner is disable
    height: 399px;
  }

  @media only screen and (min-width: 1600px) {
    width: 100%;
  }
}

/*---

  Hero content section for interior pages

---*/

.hero__content.interior-pages {
  //grid-template-columns: 100%;

  .college {
    //background-color: #6C9BB9; Original light Blue
    background-color: #ad1a1a;

    margin-top: 0;
    margin-bottom: 10px;
    padding-right: 20px;
    padding-top: 20px;

    a {
      color: #fff;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        outline: 1px dotted #fff;
      }
    }
  }

  .home-header {
    height: auto;
    padding-bottom: 20px;
    grid-column: 1/3;

    @media only screen and (min-width: 465px) {
      //height: 150px;
    }

    @media only screen and (min-width: 480px) {
      padding-left: 20px;
      margin-top: 40px;
    }

    @media only screen and (min-width: 578px) {
      //height: 275px;
    }

    @media only screen and (min-width: 768px) {
      margin-top: 40px;
      //height: 275px;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    @media only screen and (min-width: 1440px) {
      margin-top: 80px;
      //height: 320px;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  .home-search {
    display: none;
  }
}

body:not(.home) {
  // target non home headers

  .bg-header {
    height: 120px;

    @media only screen and (min-width: 480px) {
      height: 180px;
    }

    @media only screen and (min-width: 568px) {
      height: 190px;
    }

    @media only screen and (min-width: 768px) {
      height: 210px;
    }

    @media only screen and (min-width: 1440px) {
      //top: 140px;
      top: 200px; //Remove after alert banner is disable

      height: 300px;
    }

    @media only screen and (min-width: 1600px) {
      width: 100%;
    }
  }
}

/*---

  Body section for homepage

---*/

.page-home {
  display: grid;
  margin: 0 auto;
  width: calc(100vw - 40px);
  grid-template-columns: 100%;

  padding: 10px;
  padding-bottom: 0;

  @media only screen and (min-width: 600px) {
    width: 90%;
  }

  @media only screen and (min-width: 1440px) {
    width: 1360px;
  }

  @media only screen and (min-width: 1600px) {
    width: 1529px;
  }

  article header {
    display: none;
  }

  article .entry-content {
    margin-top: 0;
  }
}
#main-content {
  margin-top: 10px;
  padding-top: 20px;

  @media only screen and (min-width: 640px) {
    border-top: 1px solid #e2eaef;
    padding-top: 30px;
  }
}

.home #main-content {

  @media only screen and (min-width: 640px) {
    border-top: 1px solid #e2eaef;
    padding-top: 20px;
  }
}
