.easy-notification-bar-button {
  margin-left: 0 !important;
}
.easy-notification-bar-button a,
.easy-notification-bar-button a:visited,
.easy-notification-bar-button a:focus {
  //color: #0068ac !important;
  color: #fff !important;
  font-weight: 700;
  text-decoration: none;
  background: none !important;
  text-align: center !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  line-height: 16px;
  text-decoration: underline !important;
}
.easy-notification-bar-button a:hover {
  color: #fff !important;
  text-decoration: none !important;
}
