/*---

  Staff profile

---*/

.staff-page .elementor-widget-container:after {
    content: "";
    display: block;
    clear: both;
}

.staff-profile {
    width: 282px !important;
    margin-bottom: 20px !important;
    padding-bottom: 20px !important;
    border: 1px solid #e0e0e0 !important;
    text-align: left !important;
    display: inline-block !important;
    vertical-align: top !important;
    margin-right: 10px !important;
    min-height: 487px;

    @media only screen and (min-width: 640px) {
        margin: 0 !important;
        margin-bottom: 20px !important;
        margin-right: 15px !important;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 0;
        padding-left: 25px;
        padding-right: 25px;

        span {
            font-size: 14px;
        }
    }

    h4 {
        font-size: 17px;
        margin-top: 0;
        margin-bottom: 5px;
        padding-left: 25px;
        padding-right: 25px;
    }

    p {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .staff-email {
        span {
            padding-right: 7px;
        }
    }
    .staff-phone {
        span {
            padding-right: 7px;
        }
    }

    .staff-social {
        .staff-orcid-id {
            padding-right: 5px;

            img {
                vertical-align: middle;
            }
        }

        .staff-linkedin {
        }

        .faculty-bio {
        }
    }

    .staff-expertise {
        margin-top: 9px;
    }

    .staff-liaison {
        margin-top: 9px;
        margin-bottom: 15px;
    }

    .btn-graphic {
        display: inline-block;
        font-size: 14px;
        margin-right: 0;
        padding: 10px 20px;
        width: 100%;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}

.random-library-profile {
  
  .elementor-shortcode {
    width: 100%;
    margin: 0 auto;

    .random-staff-profile {
      
      h3 {
        text-align: center;
        font-size: 16px;
        margin-top: 5px;
        margin-bottom: 0;
      }

      h4 {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 14px;
        font-family: $font__main;
      }

      img.staff-photo {
        width: 100%;
      }

      p {
        margin: 9px 0px;
      }

      .btn-graphic {
        display: inline-block;
        font-size: 14px;
        margin: 0;
        padding: 10px 20px;
        width: 100%;

        &:hover {
            background-color: #000;
            color: #fff;
        }
      }

      .all-staff {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}