/*---

  TAGS

---*/

a[rel="tag"] {
  padding: 8px 5px;
  border-radius: 3px;
  background-color: #015C84;
  font-size: 12px;
  color: #fff;
}

.category-tag a {

  padding: 8px 5px;
  border-radius: 3px;
  background-color: #be7f16;
  font-size: 14px;
  color: #fff;

}

.pagination {

  margin-top: -20px;

}
