.elementor-widget-container .hero-slider ul {
  margin-left: 0;
  padding-left: 0;
}

.elementor-widget-container .hero-slider .slick-slide header {
  display: block;
  margin: 0;
  padding: 0;
}
.elementor-widget-container .hero-slider .slick-slide header h1 {
  padding-top: 50px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  margin-bottom: 4px;
}
.elementor-widget-container .hero-slider .slick-slide header time {
  font-size: 14px;
  margin: 0;
  margin-bottom: 4px;
}
.elementor-widget-container .hero-slider .slick-slide p {
  font-size: 16px;
  margin: 0;
  margin-bottom: 4px;
}
.elementor-widget-container .hero-slider .slick-slide footer {
  width: 100%;
  border: none;
  padding-top: 10px;
  font-size: 14px;
  clear: both;
  display: block;
}
.elementor-widget-container .hero-slider .slick-slide footer .full-story {
  float: left;
  display: inline-block;
}
.elementor-widget-container .hero-slider .slick-slide footer .all-news {
  float: right;
  display: inline-block;
}

.hero-slider {
  margin: 0 !important;
  padding: 2px;
  position: relative;
  /** Autoplay toggle button in the top left corner */
  /** Custom previous and next arrows in the top right corner */
  /** Default slide navigation dots */
  /** Slide content */
}
.hero-slider .slick-autoplay-toggle-button {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: auto;
  background: none;
  border: 0;
  z-index: 10;
  font-size: 32px;
  opacity: 1;
  cursor: pointer;
  color: black;
}
.hero-slider .slick-autoplay-toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.hero-slider .slick-autoplay-toggle-button:focus {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}
.hero-slider .custom-prev-button,
.hero-slider .custom-next-button {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 1;
  display: block;
  float: left;
  background: #017abc;
  color: #fff;
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 32px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 3px;
}
.hero-slider .custom-prev-button:hover,
.hero-slider .custom-next-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.hero-slider .custom-prev-button:focus,
.hero-slider .custom-next-button:focus {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
.hero-slider .custom-prev-button {
  right: 70px;
}
.hero-slider .slick-dots {
  height: 40px;
}
.hero-slider .slick-dots li button .slick-dot-icon {
  color: #017abc;
}
.hero-slider .slick-dots li.slick-active button:focus .slick-dot-icon {
  color: #000;
}
.hero-slider .slick-dots li button .slick-dot-icon,
.hero-slider .slick-next:focus .slick-next-icon,
.hero-slider .slick-next:focus .slick-prev-icon,
.hero-slider .slick-prev:focus .slick-next-icon,
.hero-slider .slick-prev:focus .slick-prev-icon,
.hero-slider .slick-dots li button:focus .slick-dot-icon:before,
.hero-slider .slick-dots li.slick-active button:focus .slick-dot-icon,
.hero-slider .slick-autoplay-toggle-button:focus {
  color: #017abc;
}
.hero-slider .slick-slide {
  height: auto;
  display: flex;
  align-items: center;
}

/*# sourceMappingURL=init.css.map */
