@media print {
    * {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }

    main {
        width: 100%;
        margin: 0;
        float: none;
    }

    /** Setting margins */
    @page {
        margin: 2cm;
    }

    /* Or: */
    @page :left {
        margin: 1cm;
    }

    @page :right {
        margin: 1cm;
    }

    /* The first page of a print can be manipulated as well */
    @page :first {
        /* margin: 1cm 2cm; */
    }

    /* Set font to 16px/13pt, set background to white and font to black.*/
    /* This saves ink */
    body {
        font: 13pt Arial, "Times New Roman", Times, serif;
        line-height: 1.3;
        background: #fff !important;
        color: #000;
    }

    body .easy-notification-bar {
        display: block !important;
        background: #fff;
        color: blue;
    }

    body .easy-notification-bar-button a {
        color: blue;
    }

    h1 {
        font-size: 24pt;
        color: #000;
    }

    h2,
    h3 {
        font-size: 18pt;
        margin-top: 25px;
        color: #000;
    }

    h4,
    h5 {
        font-size: 13pt;
        margin-top: 25px;
        color: #000;
    }

    h6 {
        font-size: 12pt;
        margin-top: 25px;
        color: #000;
    }

    /* ORPHANS AND WIDOWS */
    p {
        orphans: 2;
        widows: 2;
    }

    /* Defining all page breaks */
    a {
        page-break-inside: avoid;
    }

    blockquote {
        page-break-inside: avoid;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        page-break-after: avoid;
        page-break-inside: avoid;
    }

    img {
        page-break-inside: avoid;
        page-break-after: avoid;
    }

    table,
    pre {
        page-break-inside: avoid;
    }

    ul,
    ol,
    dl {
        page-break-before: avoid;
    }

    /* Displaying link color and link behaviour */
    a:link,
    a:visited,
    a {
        background: transparent;
        color: blue;
        font-weight: bold;
        text-decoration: underline;
        text-align: left;
    }

    a {
        page-break-inside: avoid;
    }

    a[href^="http"]:after {
        content: " (" attr(href) ")";
    }

    a:after > img {
        content: "";
    }

    article a[href^="#"]:after {
        content: "";
    }

    a:not(:local-link):after {
        content: " ( " attr(href) " ) ";
    }

    .pagination {
        display: none;
    }

    .category-tag {
        display: none;
    }

    a[rel="category tag"],
    a[rel="tag"] {
        display: none;
    }

    .cat-links,
    .tag-links {
        display: none;
    }
    /**
   * Making intergated videos disappear, and removing the iframes' whitespace to zero.
   */
    .entry iframe,
    ins {
        display: none;
        width: 0 !important;
        height: 0 !important;
        overflow: hidden !important;
        line-height: 0pt !important;
        white-space: nowrap;
    }

    .embed-youtube,
    .embed-responsive {
        position: absolute;
        height: 0;
        overflow: hidden;
    }

    /* Hiding unnecessary elements for the print */
    nav,
    aside,
    .post-edit-link,
    .hero__content,
    .hero__content.interior-pages,
    footer {
        display: none;
    }

    .hero__content,
    .hero__content.interior-pages {
        background: none;
    }

    /* Adding custom messages before and after the content */
    footer::after {
        content: "\ All Rights Reserved. (c) 2020 ";
        color: #000000 !important;
        font-size: 1em;
        padding-top: 30px;
    }
}
